/*setting the font to Montserrat for the whole body/webpage*/
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    /*there is no need for scrollbar on the page*/
    overflow: hidden;
}

/*"main" div is converted into a flex to accomodate children divs in a line*/
.main{
    display :flex;
    /*assigning height to 100% of viweport-height, to take up the entire height available*/
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    /*set color according to the required website using color picker*/
    background-color: black;
    /*setting the width of the sidebar section to match the required width*/
    width: 340px;
    /*to curve the corners of the border*/
    border-radius: 1rem; /*1rem = 16px*/
    margin-right: 0.5rem;
}

.main-content{
    /*set color according to the required website using color picker*/
    background-color: #121212;
    /*to assign the remaining width available to a single section*/
    flex: 1;
    /*to curve the corners of the border*/
    border-radius: 1rem;
    /*there is no need for scrollbar on the page, except at the "main-content" section*/
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    /*set color according to the required website using color picker*/
    background-color: black;
    /*to fix the position of the section on the page*/
    position: fixed;
    /*assign the section to the bottom of the page */
    bottom: 0;
    /*width is set to 100% of the page to accomodate the available page*/
    width: 100%;
    /*height is set to match the required height of the section*/
    height: 72px;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /*content centered with respect to flex direction*/
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    /* to set the distance between lines of text.*/
    line-height: 2.5rem;
    /*adding opacity to give a lighter shade look by default*/
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
/*hover properties*/
.nav-option:hover{
    /*opacity increases during hover*/
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    /*giving the entire remaining space to library class*/
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    /*converting elements in the same line*/
    display: flex;
    /*placing the elements in two corners*/
    justify-content: space-between;
    /*vertical align*/
    align-items: center;
}

.lib-options img{
    /*image sizing to icon*/
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge{
    background-color: black;
    color: white;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.sticky-nav-icons{
    margin-left: 0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav-item{
    margin-left: 1rem;
}

/*adding media queries*/
@media (max-width: 1000px) {
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;

}

.cards-container{
    display: flex;
    /*incase the cards are more in numbers and cards size has to be unchanged*/
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.card-info span{
   font-weight: 600;
    opacity: 1;
    color: white;
}